{% extends "_layouts/cp" %}
{% set title = 'Overview'|t('abm-checkit') %}
{% set selectedSubNavItem = 'abm-checkit' %}

{% block content %}

	<div id="abm-checkit-overview">

		{% for site in checkitSites %}
			<button class="{{ loop.index0?'collapsed' }}" data-toggle='collapse' data-target="#SiteTable{{ site.id }}">{{ site.name }}</button><br />

			<div class="collapse{{ not loop.index0?' in' }}" id="SiteTable{{ site.id }}">
				<table class="data table">
					<thead>
						<tr>
							<th>{{ 'Section'|t('app') }}</th>
							<th>{{ 'Marked {entries}'|t('abm-checkit',{
								'entries': 'Entries'|t('app')
							}) }}</th>
							<th>{{ 'Entries'|t('app') }}</th>
						</tr>
					</thead>
					<tbody>
						{% for section in site.sections %}
							<tr>
								<td>{{ section.name }}</td>
								<td>
									{% if section.urlOutstanding %}
										<a href="{{ section.urlOutstanding }}">{{ section.amountOutstanding}}</a>
									{% else %}
										{{ section.amountOutstanding}}
									{% endif %}
								</td>
								<td><a href="{{ section.urlElements }}">{{ section.amountElements}}</a></td>
							</tr>
						{% endfor %}

						{% for productType in site.productTypes %}
							<tr>
								<td>{{ productType.name }}</td>
								<td>
									{% if productType.urlOutstanding %}
										<a href="{{ productType.urlOutstanding }}">{{ productType.amountOutstanding}}</a>
									{% else %}
										{{ productType.amountOutstanding}}
									{% endif %}
								</td>
								<td><a href="{{ productType.urlElements }}">{{ productType.amountElements}}</a></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<br /><br />
		{% endfor %}
	</div>
{% endblock %}