<table class="data table">
	<tr>
		<th>{{ 'Section'|t('app') }}</th>
		<th>{{ 'Marked {entries}'|t('abm-checkit',{
			'entries': 'Entries'|t('app')
		}) }}</th>
		<th>{{ 'Entries'|t('app') }}</th>
	</tr>

	{% for section in sitelist.sections %}
		<tr>
			<td>{{ section.name }}</td>
			<td>
				{% if section.urlOutstanding %}
					<a href="{{ section.urlOutstanding }}">{{ section.amountOutstanding}}</a>
				{% else %}
					{{ section.amountOutstanding}}
				{% endif %}
			</td>
			<td><a href="{{ section.urlElements }}">{{ section.amountElements}}</a></td>
		</tr>
	{% endfor %}

	{% for productType in sitelist.productTypes %}
		<tr>
			<td>{{ productType.name }}</td>
			<td>
				{% if productType.urlOutstanding %}
					<a href="{{ productType.urlOutstanding }}">{{ productType.amountOutstanding}}</a>
				{% else %}
					{{ productType.amountOutstanding}}
				{% endif %}
			</td>
			<td><a href="{{ productType.urlElements }}">{{ productType.amountElements}}</a></td>
		</tr>
	{% endfor %}
</table>