{% import "_includes/forms" as forms %}

{% if showIsMarkedInformation %}
	<div id="abm-checkit-isMarkedInformation" class="checkit-element" data-position="1">
	{{ 'This entry has been marked as "editing pending". Please edit the entry and set the marker to "done" in the "CheckIt field" to complete the task.'|t('abm-checkit') }}
	</div>
{% endif %}

<fieldset id="abm-checkit-sidebar" class="checkit-element" data-position="{{ checkitPosition }}">
	<legend class="h6">
		{{ 'Check it'|t('abm-checkit') }}
		{% if showInformations %}
			<span class="abmInfo" data-toggle='collapse' data-target="#checkitHelp" type="button" aria-expanded="false" aria-lable="info"></span>
		{% endif %}
	</legend>

	<div class="meta{{ showInformations?" hasHelp":"" }}">
		{% if showInformations %}
			<div id="checkitHelp" class="collapse">
				{{ 'Use the toggle switch below to indicate that an action is required for the respective site/language.'|t('abm-checkit') }}<br />
				{{ 'Green = action required / pending'|t('abm-checkit') }}<br />
				{{ 'Gray = no action required / the task has been completed'|t('abm-checkit') }}
			</div>
		{% endif %}
		{% for sitestatus in checkitSites|slice(0,3) %}
			{{ forms.lightswitchField({
				label: sitestatus.name,
				id: sitestatus.id ~ '_new',
				name: 'checkitStatus[sites][' ~ sitestatus.id ~ '][new]',
				on: sitestatus.status
			}) }}
			<input type="hidden" name="checkitStatus[sites][{{ sitestatus.id }}][old]" value="{{ sitestatus.status ? '1' : '' }}" />
		{% endfor %}

		{% if ( checkitSites|length > 3 ) %}
			<div class="collapse" id="EnabledLanguages">
				<div class="innerContent">
					<div class="meta">
						{% for sitestatus in checkitSites|slice(3) %}
							
							<input type="hidden" name="checkitStatus[sites][{{ sitestatus.id }}][old]" value="{{ sitestatus.status ? '1' : '' }}" />

							{{ forms.lightswitchField({
								label: sitestatus.name,
								id: sitestatus.id ~ '_new',
								name: 'checkitStatus[sites][' ~ sitestatus.id ~ '][new]',
								on: sitestatus.status
							}) }}
						{% endfor %}
					</div>
				</div>
			</div>
			
			<div class="heading">
				<button class="expand-abm-checkit-btn btn" data-toggle='collapse' data-target="#EnabledLanguages" type="button" data-icon="ellipsis" aria-expanded="false" aria-lable="Toggle"></button>
			</div>
		{% endif %}
	</div>
</fieldset>